package templates

templ Game(){
    <div class="wrapper">
        <div id="upper-left">1</div>
        <div id="upper-center">2</div>
        <div id="upper-right">3</div>
        <div id="middle-left">4</div>
        <div id="middle-center">5</div>
        <div id="middle-right">6</div>
        <div id="bottom-left">7</div>
        <div id="bottom-center">8</div>
        <div id="bottom-right">9</div>
    </div>
}