package templates

templ Layout(){
    <html>
        <head>
            <link rel="stylesheet" href="main.css"/>
            <title>Tic Tac Toe</title>
        </head>
        <body>
            <div>
                @Game()
            </div>
        </body>
    </html>
}